{% extends 'TemplatesClientes/MainCliente/IndexCliente.html' %}
{% load static %}
{% block content %}
{% if deta %}
{%for i in deta %}
<head>
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="container" style="width: 20%; display: grid; place-items: center;">
    {% for e in imgs %}
    <img src="{{ e.imagen.url }}" style="width: 170px; padding: 10px;">
    {% endfor %}
</div>
<div class="container" style="width: 40%; padding: 10px;">
    <img src="{{ i.img.url }}" width="100%">
</div>
<div class="container" style="width: 40%;">
    <div class="container py-2">
        <p style="font-size: 35px; font-family: Georgia, 'Times New Roman', Times, serif;">{{i.name}}</p>
        <p style="font-size: 17px;">${{ i.precio|floatformat:0 }}</p>
        <hr>
    </div>
    <div class="container">
        <p>{{i.id_SubCategoria}}</p>
        <p>{{i.year}}</p>
        <p>{{i.id_Marca}}</p>
        
        <form id="addItemCartForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="userId" name="user_id" value="{{ user.id }}">
            <input type="hidden" id="itemId" name="item_id" value="{{ i.id }}">
            <input type="hidden" id="timestamp" name="timestamp" value="">
            <button id="addToCartButtonn" type="submit" class="container"
                style="border: 2px solid black; text-align: center; align-content: center; display: block; padding: 7px; background-color: rgb(15, 48, 77);">
                <span style="color: aliceblue;">ADD TO CART</span>
            </button>
        </form>
        <div id="successMessage" style="display: none; color: green; margin-top: 10px;"></div>
    </div>
    <input type="hidden" id="addItemCart-url" value="{% url 'ViewsAdmin:AddItemsCart'%}">
</div>
<script src="{% static 'js/CarroDeCompras.js' %}"></script>
{% endfor %}
{% endif %}
{% endblock %}