.principalAdmin .navbar{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(163, 163, 163);
}

a{
    text-decoration: none;
    color: aliceblue;
}

.offcanvas .offcanvas-header .offcanvas-title{
    justify-content: center;
    align-items: center;
}

.adminCamiseta {
    font-family: monospace;
}

.formulario {
    border-right: 1px solid rgb(211, 211, 211);
}

.adminCamiseta .cardcamisetas .links button{
    border:1px solid black;
    text-align: center;
    align-content: center;
    display: block;
    padding: 7px;
    background-color: rgb(15, 48, 77);
    margin: 2px;
}

.adminCamiseta .cardcamisetas .links button a{
    margin: auto; 
    color: aliceblue; 
    text-decoration: none;
}