.navbar .container-fluid img {
    width: 100px;
}

.principalAdmin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.conteAdmin {
    margin-top: 100px;
    z-index: 1;
    display: grid; 
    place-content: center;
}

.principalAdmin .navbar{
    background-color: rgb(255, 255, 255); 
    border-bottom: 1px solid rgb(163, 163, 163);
}

.modal-body #successMessage{
    display: none; 
    color: green; 
    margin-top: 10px;
}