{% extends 'TemplatesClientes/MainCliente/IndexCliente.html' %}

{% block content %}
<div class="container" style="width: 25%; border-right: solid rgba(122, 122, 122, 0.26) 1px;">
    <div class="container" style="display: flex; align-items: center; justify-content: center; padding-top: 4px;">
        <h4>TEAMS</h4>
    </div>
    <div class="container">
        {% for team in equi %}
        <ul style="list-style: none; padding-left: 0;">
            <li style="text-align: left;">
                <a href="#">{{ team.name }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

<div class="container py-4 row" style="width: 75%;">
    {% if camis %}
        {% for cam in camis %}
        <div class="col-lg-6" style="padding-bottom: 10px;">
            <div class="container" style="display: flex; justify-content: center; align-items: center;">
                <img src="{{ cam.img.url }}" style="height: 380px; width: 360px;">
            </div>
            <div class="container" style="font-size: 20px; text-align: center; padding: 3px">
                <h6>{{ cam.name }}</h6>
                <h6>$ {{ cam.precio }}</h6>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No hay camisetas disponibles para este equipo.</p>
    {% endif %}
</div>
{% endblock %}
