{% extends 'TemplatesClientes/MainCliente/IndexCliente.html' %}
{% load static %}
{% block content %}
<head>
    <title>Restablecimiento de Contraseña Enviado</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<div class="container login">
    <div class="container logintext pt-4">
        <h2>Restablecimiento de Contraseña Enviado</h2>
        <hr>
        <p>Se ha enviado un enlace para restablecer la contraseña a su correo electrónico.</p>
    </div>
</div>
{% endblock %}