{% extends 'TemplatesAdmin/Principal/Principal.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid d-flex py-3">

    <div class="container p-3" style="width: 30%;">
        <h3 style="text-align: center;">Agregar Camiseta</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ FormADDimgCamisetas | crispy }}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Agregar Foto</button>
            </div>
        </form>
        {% if mensaje %}
        <div class="alert alert-danger my-2" id="mensaje">
            {{mensaje}}
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var successMessage = document.getElementById("mensaje");

                if (successMessage) {
                    setTimeout(function () {
                        successMessage.style.display = 'none';
                    }, 2000);
                }
            });
        </script>
        {% endif %}
    </div>

    <div class="container d-flex row my-2">
        
            {% for i in imgs %}
            <div class="col-lg-4 p-3">
                <img src="{{ i.imagen.url }}" alt="" style="width: 100%;">
                
                <div class="d-grid gap-2 col-6 mx-auto m-2">
                    <a  class="btn btn-danger" type="button" href="{% url 'ViewsAdmin:DeleteImg' i.id %}"><i class="bi bi-trash3"></i></a>
                </div>
            </div>
            {% endfor %}

            {% for x in imgMain %}
            <div class="col-lg-4 " style="margin-bottom: 15px;">
                <img src="{{ x.img.url }}" alt="" style="width: 100%;">
                <h6 style="text-align: center; background: rgb(0, 100, 158); color: aliceblue;">Imagen Principal</h6>
                <div class="d-grid gap-2 col-6 mx-auto m-2">
                    <button class="btn btn-danger" type="button"><i class="bi bi-trash3"></i></button>
                </div>
            </div>
            {% endfor %}
        
    </div>
    <a type="button" class="btn-close" disabled aria-label="Close" href="{% url 'ViewsAdmin:ADDcamisetas'%}"></a>
</div>
{% endblock %}