{% extends 'TemplatesClientes/MainCliente/IndexCliente.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if teams %}
    <div class="container SubTitulos">
        <h4>Busqueda para '{{query}}'</h4>
    </div>

    <div>
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner slider">
                <div class="carousel-item d-flex">
                    {% for team in teams %}
                    <div class="card">
                        {% if team.img %}
                        <div class="image"><img src="{{ team.img.url }}" width="190px"></div>
                        {% else %}
                        <div class="image"><img src="{% static 'imagenes/eror.jpg'%}" width="190px"></div>
                        {% endif %}
                        <span class="title"><a
                                href="{% url 'ViewsClient:DetalleCamiseta' team.id %}"><b>{{team.name}}</b></a></span>
                        <span class="price"><b>${{ team.precio|floatformat:0 }}</b></span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Botones prev y next -->
            <button class="carousel-control-prev prev" type="button" data-bs-target="#carouselExampleControls">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next next" type="button" data-bs-target="#carouselExampleControls">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{% else %}
<h2>NO SE ECUEENTRA '{{query}}'</h2>
{% endif %}
</div>
{% endblock %}